<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nina Chen</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="icon" href="favicon/favicon.ico">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">   
    

    <div class="container-fluid">
        <nav class="navbar sticky-top navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../">Nina Chen</a>
                </div>  
                
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="../resume/">Resume</a></li>
                    <li class="nav-item"><a class="nav-link" href="../portfolio/">Portfolio</a></li>
                </ul>
            </div>
        </nav>
        <nav class="col-sm-3 col-4 sticky-top fixed-top" id="myScrollspy">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#Education">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#WorkExperience">Work Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#Activities">Activities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#Skills">Skills</a>
              </li>
              
            </ul>
        </nav>
        <!-- </div> -->
          <div class="col-sm-9 col-8">
            <div id="Education">
              <h1>Education</h1>
                <div class="experiences">
                        
                    <div class="experience row">
                        <div class="col-md-4">
                            <h4>University of Michigan</h4>
                            <p class="experience-period">
                                April 2018			</p>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <strong>Bachelor of Science in Computer Science</strong>
                                <br>
                                GPA: 3.54
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div id="WorkExperience">
                <h1>Work Experience</h1>
                <div class="experiences">
                        
                    <div class="experience row">
                        <div class="col-md-4">
                            <h4>Textron Systems</h4>
                            <p class="experience-period">
                                2018 - present			</p>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <strong>Software Engineer</strong>
                                <br>
                                <ul>
                                    <li>
                                        Develop control software for Advanced Architecture Phase Amplitude and Time Simulator (A2PATS)
                                    </li>
                                    <li>
                                        Design and implementation of multiple systems communication using a Master-Subordinate structure through networking
                                    </li>
                                    <li>
                                        Contributions to the software development and successful release of a Real Time RF Recorder
                                    </li>
                                    <li>
                                        Mentored and trained employees through overseeing tasks and providing guidance
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="experience row">
                        <div class="col-md-4">
                            <h4>College of Engineering, University of Michigan </h4>
                            <p class="experience-period">Summer 2017</p>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <strong>Research Assistant</strong>
                                <br>
                                <ul>
                                    <li>
                                        Project goal: to predict mood from speech attributes (activation and valence) of patients with bipolar
                                    </li>
                                    <li>
                                        Used Python to perform data collection and analysis, finding agreement between annotators using CCC
                                    </li>
                                    <li>
                                        Used support vector machine algorithm to perform machine learning accuracy of mood prediction
                                    </li>
                                    <li>
                                        Collaborated with Psychology Department. Observed differences in mindsets towards project goals
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="experience row">
                        <div class="col-md-4">
                            <h4>College of Engineering, University of Michigan </h4>
                            <p class="experience-period">2016 - 2018</p>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <strong>Production Assistant</strong>
                                <br>
                                <ul>
                                    <li>
                                        Recorded lectures using Camtasia software to make content available for distance learning students 
                                    </li>
                                    <li>
                                        Provided technical support for professors and accommodate their needs
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="experience row">
                        <div class="col-md-4">
                            <h4>4pm </h4>
                            <p class="experience-period">2016 - 2018</p>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <strong>Technical Intern</strong>
                                <br>
                                <ul>
                                    <li>
                                        Produced technical outline for commercial property project, designing process steps to connect agents/buyers/sellers and led group discussion on project
                                    </li>
                                    <li>
                                        Collaborated with IT team to launch project aimed to group properties based on various attributes. Used Microsoft SQL to manage dataset
                                    </li>
                                    <li>
                                        Worked on UI design assisting the development of the website using CSS/HTML/PHP
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div id="Activities">
                <h1>Activities</h1>

                <div class="experience row">
                    <div class="col-md-4">
                        <h4>Young Professionals Association - Textron Systems</h4>
                        <p class="experience-period">2020 - present</p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>Board Member</strong>
                            <br>
                            <ul>
                                <li>
                                    Plan various activities to bring engagement to the young professionals in our company. 
                                </li>
                                <li>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="experience row">
                    <div class="col-md-4">
                        <h4>Room For All - Textron Systems </h4>
                        <p class="experience-period">2020 - present</p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>Board Member</strong>
                            <br>
                            <ul>
                                <li>
                                    Create a more diverse and inclusive environment in the workplace through hiring events, forum discussions, and cultural events. 
                                </li>
                                <li>
                                    Help plan events throughout the year and be a liason for the group at my location.
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                
                <div class="experience row">
                    <div class="col-md-4">
                        <h4>HKN (Eta Kappa Nu) </h4>
                        <p class="experience-period">2017 - 2018</p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>Tutor Chair</strong>
                            <br>
                            <ul>
                                <li>
                                    We performed various service activities, including providing IT support and a mentorship program. I assisted in mentoring new members. I also attended networking events to learn about new technology.
                                </li>
                                <li>
                                    As tutor chair, I helped with outreach to encourage people to get involved in tutoring for Electrical Engineering or Computer Science courses. I managed the matching and scheduling process as well as participated as a tutor. 
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div id="Skills">
                <h1>Skills</h1>
                <div class="experience row">
                    <div class="col-md-4">
                        <h4>Proficient </h4>
                        <li>C++</li>
                        <li>C#</li>
                        <li>TortoiseSVN</li>
                        <li>JIRA</li>

                    </div>
                    <div class="col-md-8">
                        <h4>Familiar with</h4>
                        <li>Python</li>
                        <li>CSS3/HTML5</li>
                        <li>XAML</li>
                        <li>SQL</li>
                        <li>Linux</li>
                        <li>Github</li>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  
</body>



</html>